html{
    --color-baby-blue:#97DFFC;
    --color-cornflower:#858AE3;
    --color-ocean-blue:#613DC1;
    --color-blue-violet:#4E148C;
    --color-russian-violet:#2C0735;
    --background-color-grey:#EDF2F5;
    --background-color-purple-light:#A1AFCD;
}